<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="./css/bootstrap.css"/>
    <link rel="stylesheet" href="./css/style.css"/>
    <link rel="stylesheet" type="text/css" href="./css/layout.css"/>
    <script type="text/javascript" src="./js/jquery.js"></script>
    <script type="text/javascript" src="./js/bootstrap.min.js"></script>
    <title></title>
    <style>

        /*修改提示文字的颜色*/

        input::-webkit-input-placeholder { /* WebKit browsers */

            font-size: 14px;
            text-indent: 10px;
        }

        input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */

            font-size: 14px;
            text-indent: 10px;
        }

        input::-moz-placeholder { /* Mozilla Firefox 19+ */

            font-size: 14px;
            text-indent: 10px;
        }

        input:-ms-input-placeholder { /* Internet Explorer 10+ */

            font-size: 14px;
            text-indent: 10px;
        }

        input {
            outline: none;
            border: 1px solid #45a9e7 !important;
            background: none;
        }

        .yz {
            float: left;
            height: 28px !important;
            margin-left: 130px;
            border: none !important;
            border-bottom: 1px solid !important;
            border-radius: 0 !important;
            width: 110px !important;
        }

        .box {
            background-image: url(./img/index.png);
            background-repeat: no-repeat;
            background-size: 100% 100%;
            margin-top: 10px;
            padding: 30px 0 0 0;
            height: 765px;
        }
    </style>
</head>
<body>
<div class="header"><span><a href="http://localhost:9102/page/Index/index.html">创新创业学院团队管理系统</a></span></div>
<div class="box" id="app">
    <div class="bodyer" style="margin-top: 70px;margin-bottom: 70px;">
        <form method="post" onsubmit="return check()" style="width: 400px;">
            <div class="login" style="height: 100%;padding-bottom: 20px;border: 1px solid #45a9e7 !important;background-color:rgb(255,255,255,0.5);">
                <p style="margin-top: 10px;">请使用当前手机号注册！</p>
                <div style="margin: 0;">账 &nbsp;&nbsp;&nbsp;号：<input type="text" name="username" id="user_id" required="required" placeholder="手机号" v-model="pojo.phone"></div>
                <p id="error" style="color: red;display: none;">手机格式不对！
                </p>
                    <div style="margin: 0;text-align: right;font-size: 12px;">
                        <input placeholder="验证码" class="yz" type="text" name="yz" autocomplete="off" v-model="smsCode"/>
                <p style="margin: 10px 50px 10px 0;height: 28px;line-height: 28px;">
                    <a  id="vcode" v-on:click="sendSms()">获取手机验证码</a>
                    <span style="display: none;" id="countdown"></span>
                </p></div>
            <div style="margin:0 0 10px 0;">密 &nbsp;&nbsp;&nbsp;码：<input placeholder="密码" type="password" name="password" id="pwd1" required="required" v-model="pojo.password">
            </div>
            <p id="c_pwd1" style="color: red;display: none;">密码位数不合法（6~20位）！
            <p>
            <div style="margin:0 0 10px 0;font-size: 16px;">确认密码：<input placeholder="确认密码" type="password" id="pwd2" required="required" v-model="password"></div>
            <p id="c_pwd2" style="color: red;display: none;">密码不一致！
            <p>
            <div style="margin:0 0 10px 0;">验证码：<input type="text" id="stu_code_hide" name="verify" value=""
                                                       autocomplete="off"/>
            </div>
<!--                     <img src="__CONTROLLER__/getVerify" title="点击更换" alt="验证码占位图" onclick="this.src='__CONTROLLER__/getVerify/'+Math.random()" />-->
                <canvas id="canvas" width="150" height="45"></canvas>
    </div>
    <div class="login_2">
        <input type="button" value="返回" onclick="back()"/>
        <input type="button" value="注册" @click="save()">
    </div>
    </form>

</div>
</div>
<div class="footer text-center">
    <span>技术支持：阔鱼飞鸟云孵平台</span>
    <span> &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 联系方式：xxxxxxxxxx</span>
</div>
</body>
</html>
<script src="./js/vue.js"></script>
<script src="./js/axios.js"></script>
<script>
    var vue = new Vue({
        el: "#app",
        data() {
            return {
                pojo: {},
                smsCode: "",
                password: ""
            }
        },
        created(){
        },
        methods: {

            sendSms() {
                console.log(this.pojo.phone)
                axios.get(`/user/sendSms.do?phone=${this.pojo.phone}`).then(response => {
                    alert(response.data.message);
                })
            },
            save() {
                if (this.password != this.pojo.password) {
                    alert("两次输入密码不一致");
                    return;
                }
                axios.post(`/user/save.do?smsCode=${this.smsCode}`, this.pojo).then(response => {
                    alert(response.data.message);
                    this.pojo = {};
                    this.smsCode = "";
                    this.password = "";
                })
            }
        }
    })
</script>
<script>
    function back() {
        window.location.href = "http://localhost:9102/login.html";
    }

    function checkPhone(phone) {
        if (!(/^1(3|4|5|7|8)\d{9}$/.test(phone))) {
            //alert("手机号码有误!");
            return false;
        } else {
            return true;
        }
    }


    function validatePassword1() {
        var pass1 = document.getElementById("pwd1").value;
        if (pass1.length < 6 || pass1.length > 20) {
            document.getElementById("pwd1").setCustomValidity("密码位数不合法（6~20位）！");
            $('#c_pwd1').show();
        } else {
            document.getElementById("pwd1").setCustomValidity("");
            $('#c_pwd1').hide();
        }
    }

    function validatePassword2() {
        var pass1 = document.getElementById("pwd1").value;
        var pass2 = document.getElementById("pwd2").value;
        if (pass1 != pass2) {
            document.getElementById("pwd2").setCustomValidity("密码不一致！");
            $('#c_pwd2').show();
        } else {
            document.getElementById("pwd2").setCustomValidity('');
            $('#c_pwd2').hide();
        }
    }

    function updateTime(time) {
        $('#vcode').hide();
        var linkBtn = $("#countdown");
        linkBtn.show();
        linkBtn.text(time + "秒后失效");
        var hander = setInterval(function () {
            if (time <= 1) {
                clearInterval(hander);
                $('#vcode').show();
                linkBtn.hide();
            } else {
                time -= 1;
                linkBtn.text(time + "秒后失效");
            }
        }, 1000);
    }

    var show_num = [];
    draw(show_num);

    $("#canvas").on('click', function () {
        draw(show_num);
    })
    function verify() {

        var val = $(".input-val").val().toLowerCase();
        var num = show_num.join("");
        if (val == '') {
            alert('请输入验证码！');
            return false;
        } else if (val == num) {
            alert('提交成功！');
            $(".input-val").val('');
            draw(show_num);
            return true;
        } else {
            alert('验证码错误！请重新输入！');
            $(".input-val").val('');
            draw(show_num);
            return false;
        }

    }


    //生成并渲染出验证码图形
    function draw(show_num) {
        var canvas_width = $('#canvas').width();
        var canvas_height = $('#canvas').height();
        var canvas = document.getElementById("canvas");//获取到canvas的对象，演员
        var context = canvas.getContext("2d");//获取到canvas画图的环境，演员表演的舞台
        canvas.width = canvas_width;
        canvas.height = canvas_height;
        var sCode = "a,b,c,d,e,f,g,h,i,j,k,m,n,p,q,r,s,t,u,v,w,x,y,z,A,B,C,E,F,G,H,J,K,L,M,N,P,Q,R,S,T,W,X,Y,Z,1,2,3,4,5,6,7,8,9,0";
        var aCode = sCode.split(",");
        var aLength = aCode.length;//获取到数组的长度

        for (var i = 0; i < 4; i++) {  //这里的for循环可以控制验证码位数（如果想显示6位数，4改成6即可）
            var j = Math.floor(Math.random() * aLength);//获取到随机的索引值
            // var deg = Math.random() * 30 * Math.PI / 180;//产生0~30之间的随机弧度
            var deg = Math.random() - 0.5; //产生一个随机弧度
            var txt = aCode[j];//得到随机的一个内容
            show_num[i] = txt.toLowerCase();
            var x = 40 + i * 20;//文字在canvas上的x坐标
            var y = 30 + Math.random() * 8;//文字在canvas上的y坐标
            context.font = "bold 30px 微软雅黑";

            context.translate(x, y);
            context.rotate(deg);

            context.fillStyle = randomColor();
            context.fillText(txt, 0, 0);

            context.rotate(-deg);
            context.translate(-x, -y);
        }


        for (var i = 0; i <= 5; i++) { //验证码上显示线条
            context.strokeStyle = randomColor();
            context.beginPath();
            context.moveTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.lineTo(Math.random() * canvas_width, Math.random() * canvas_height);
            context.stroke();
        }


        for (var i = 0; i <= 30; i++) { //验证码上显示小点
            context.strokeStyle = randomColor();
            context.beginPath();
            var x = Math.random() * canvas_width;
            var y = Math.random() * canvas_height;
            context.moveTo(x, y);
            context.lineTo(x + 1, y + 1);
            context.stroke();
        }
    }

    //得到随机的颜色值
    function randomColor() {
        var r = Math.floor(Math.random() * 256);
        var g = Math.floor(Math.random() * 256);
        var b = Math.floor(Math.random() * 256);
        return "rgb(" + r + "," + g + "," + b + ")";
    }
</script>