<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8" />
		<link rel="stylesheet" href="../../t_css/bootstrap.css" />
		<link rel="stylesheet" href="../../t_css/layout.css" />
		<link rel="stylesheet" type="text/css" href="../../t_css/student.css"/>
		<script src="../../t_js/jquery.js"></script>
		<script src="../../t_js/layer.js"></script>
		<script type="text/javascript" src="../../t_js/jquery.min.js" ></script>
		<script type="text/javascript" src="../../t_js/bootstrap.min.js" ></script>	
		<script type="text/javascript" charset="utf-8" src="../../t_js/plugins/kindeditor/kindeditor.js"></script>
		<script type="text/javascript" charset="utf-8" src="../../t_js/plugins/kindeditor/lang/zh_CN.js"></script>
		<title></title>
		<script>
			KindEditor.ready(function (K) {
		        window.editor = K.create('#editor_id');
		    });
		</script>
		<style>
			body{
				padding: 20px 50px;
			}
			label{
				margin:0 72px 0 10px;
				display: inline-block;
			    vertical-align:middle;
			}
			input[type="radio"]{
			    vertical-align:middle;
			    margin: 0;
			}
			input[type="checkbox"]{
			    vertical-align:middle;
			    margin: 10px;
			}
			td{
				vertical-align: middle !important;	
			}
			table th{	
				vertical-align: middle !important;		
				text-align: center;
				width: 200px;
				min-width: 100px;
			}
			textarea{resize:none;word-wrap: break-word;background:none;height: 100%;width: 100%;overflow-x: hidden;overflow-y: auto;}
		</style>
	</head>
	<body>
		<div id="app">
			<center><h1>创新创业学院创业孵化基地团队入驻表</h1></center>
			<form  method="post">
			<table class="table table-bordered">
			  <tr>
			  	<th colspan="1">团队名称</th>
			  	<td colspan="7"><textarea rows="2" maxlength="120" name="team" required="required" >{{basic.team}}</textarea></td>
			  </tr>
			  <tr>
			  	<th colspan="1">项目名称</th>
			  	<td colspan="7"><textarea rows="2" maxlength="120" name="project">{$basic[0].project}</textarea></td>
			  </tr>
			  <tr>
			  	<th colspan="1">公司是否注册</th>
			  	<td colspan="1">
			  		<select name="registered" id="registered">
						<option value="是" <eq name="basic[0].registered" value="是">selected</eq> >是</option>
						<option value="否" <eq name="basic[0].registered" value="否">selected</eq>>否</option>
					</select>
			  	</td>
			  	<th colspan="1">注册时间</th>
			  	<td colspan="2"><input type="date" name="reg_time" value="{$basic[0].reg_time}" id="reg_time"/></td>
			  	<th colspan="1">注册资金<br>（万元）</th>
			  	<td colspan="2"><textarea rows="2" maxlength="120" name="money" id="money">{$basic[0].money}</textarea></td>
			  </tr>
			  <tr>
			  	<th colspan="1">经营范围<br>（产品/服务）</th>
			  	<td colspan="7"><textarea rows="3"  maxlength="150" name="business_scope">{$basic[0].business_scope}</textarea></td>
			  </tr>
			  <tr>
			  	<th>行业类别</th>
			  	<td colspan="7">
			  		<input type="radio" name="class" value="产品开发类" id="c" <eq name="basic[0].class" value="产品开发类">checked</eq> style="margin-left: 72px;"/><label for="c">产品开发类</label>
			  		<input type="radio" name="class" value="技术服务类" id="j" <eq name="basic[0].class" value="技术服务类">checked</eq>/><label for="j">技术服务类</label>
			  		<input type="radio" name="class" value="商业服务类" id="s" <eq name="basic[0].class" value="商业服务类">checked</eq>/><label for="s">商业服务类</label>  
			  	</td>
			  </tr>
			  <tr>
			  	<th>属性</th>
			  	<td colspan="7">
			  	<select name="property" style="margin-left: 30px;">
						<option value="1" <eq name="basic[0].property" value="1">selected</eq>>专业创业</option>
						<option value="2" <eq name="basic[0].property" value="2">selected</eq>>软件开发与服务</option>
						<option value="3" <eq name="basic[0].property" value="3">selected</eq>>专业创业与软件开发与服务</option>
				</select>
				</td>
			  </tr>
			  <tr><th rowspan="{$len}" colspan="1" id="teacher" >项目指导教师</th></tr>
			  <foreach name="teacher" item="v">
			  <tr>
			  <th colspan="1"><input type="hidden" value="{$v.id}" name="id[]"/>姓名&nbsp;<a title="删除" href="javascript:;" onclick="teacher_del(this,{$v.id},'')" >X</a></th><td colspan="2"><textarea rows="1" maxlength="120" name="name[]">{$v.name}</textarea></td>
			  <th colspan="2">系别</th><td colspan="2"><textarea rows="1" maxlength="120" name="department[]">{$v.department}</textarea></td></tr>
			  <tr>
			  <th colspan="1">职务</th><td colspan="2"><textarea rows="1" maxlength="120" name="position[]">{$v.position}</textarea></td>
			  <th colspan="2">负责领域</th><td colspan="2"><textarea rows="1" maxlength="120" name="field[]">{$v.field}</textarea></td>
			  </tr>
			  </foreach>
			  <tr id="tadd"><th colspan="1">操作</th><td colspan="7">
			  	<a href="javascript:;" class="file" onclick="teacher_add()" title="添加导师">添加指导教师</a>
				&nbsp;&nbsp;&nbsp;
				<a href="javascript:;" class="file">删除指导教师：点击姓名傍边的“X”，确认后即可删除！
				</a>
					
			  </td></tr>

			  
			  <th rowspan="4" colspan="1">项目主创<br>团队人员<br>基本情况</th>
			  <tr><th colspan="1">负责人</th><td colspan="2"><textarea rows="1" maxlength="120" name="fname" required="required">{$user[0].name}</textarea></td>
			  	<th colspan="1">年龄</th><td colspan="1" style="width: 180px;"><textarea rows="1" maxlength="120" name="fage">{$user[0].age}</textarea></td>
			  	<th colspan="1">性别</th><td colspan="1">
			  		<select name="fsex">
						<option value="男" <eq name="user[0].sex" value="男">selected</eq>>男</option>
						<option value="女" <eq name="user[0].sex" value="女">selected</eq>>女</option>
					</select>
			  	</td></tr>
			  <tr><th colspan="1">系别</th><td colspan="2"><textarea rows="1" maxlength="120" name="fdepartment">{$user[0].department}</textarea></td>
			  	<th colspan="2">专业班级</th><td colspan="2"><textarea rows="1" maxlength="120" name="fprofessional">{$user[0].professional}</textarea></td></tr>
			  <tr><th colspan="1">手机号码</th><td colspan="2"><textarea rows="1" maxlength="120" name="fphone" class="phone">{$user[0].phone}</textarea></td>
			  	<th colspan="2">E-mail/QQ</th><td colspan="2"><textarea rows="1" maxlength="120" name="femail">{$user[0].email}</textarea></td></tr>
			  
			  <tr><th rowspan="{$len2}" colspan="1" id="teammate">核心团队成员信息（不超9个）</th><th colspan="1">姓名</th><th colspan="1">性别</th><th colspan="1">系别</th><th colspan="2">专业班级</th><th colspan="1">手机号码</th><th colspan="1">E-mail/QQ</th></tr>
			  <foreach name="team" item="vv">
			  <tr><td colspan="1">	
			  	<a title="删除" href="javascript:;" onclick="team_del(this,{$vv.id},'{$vv.name}')" >X</a>&nbsp;&nbsp;
			  	<textarea rows="1" maxlength="20" name="tname[]" style="width: 70%;">{$vv.name}</textarea>			  	
			  	<input type="hidden" value="{$vv.id}" name="mateid[]"/>
			  </td>
			  	<td colspan="1">
			  		<select name="tsex[]">
						<option value="男" <eq name="vv.sex" value="男">selected</eq>>男</option>
						<option value="女" <eq name="vv.sex" value="女">selected</eq>>女</option>
					</select>
			  	</td>
			  	<td colspan="1"><textarea rows="1" maxlength="120" name="tdepartment[]">{$vv.department}</textarea></td>
			  	<td colspan="2"><textarea rows="1" maxlength="120" name="tprofessional[]">{$vv.professional}</textarea></td>
			  	<td colspan="1"><textarea rows="1" maxlength="120" name="tphone[]" class="phone">{$vv.phone}</textarea></td>
			  	<td colspan="1"><textarea rows="1" maxlength="120" name="temail[]">{$vv.email}</textarea></td>
			  </tr>
			  </foreach>
			  <tr id="tmadd"><th colspan="1">操作</th><td colspan="7">
			  	<a href="javascript:;" class="file" onclick="team_add()" title="添加成员">添加成员</a>
				&nbsp;&nbsp;&nbsp;
				<a href="javascript:;" class="file">删除成员：点击“姓名”傍边的“X”，确认后即可删除！
				</a>
					
			  </td></tr>
			  
			  <tr>
			  	<th colspan="1" rowspan="4">项目规模</th>
			  </tr>
			  <tr>
			  	<td colspan="1">启动资金</td>
			  	<td colspan="6"><textarea rows="1" cols="80" overflow="hidden" maxlength="150" name="qmoney">{$enter[0].money}</textarea></td>
			  </tr>
			  <tr>
			  	<td colspan="1">办公场地</td>
			  	<td colspan="6">
			  		<select name="areawork">
						<option value="实践园" <eq name="enter[0].areawork" value="实践园">selected</eq>>实践园</option>
						<option value="创新创业学院" <eq name="enter[0].areawork" value="创新创业学院">selected</eq>>创新创业学院</option>
					</select>
			  	</td>
			  </tr>
			  <tr>
			  	<td colspan="1">员工人数</th>
			  	<td colspan="6"><textarea rows="1" cols="80" overflow="hidden" maxlength="150" name="persons">{$enter[0].persons}</textarea></td>
			  </tr>
			  
			  
			  <tr>
			  	<th colspan="1" >企业形式</th>
			  	<td colspan="7" >	  		
			  		<input type="radio" name="form" value="无限责任公司" id="wx" <eq name="enter[0].form" value="无限责任公司">checked</eq> style="margin-left: 72px;"/><label for="wx">无限责任公司</label>
			  		<input type="radio" name="form" value="有限责任公司" id="yx" <eq name="enter[0].form" value="有限责任公司">checked</eq>/><label for="yx">有限责任公司</label>
			  		<input type="radio" name="form" value="股份有限公司" id="gf" <eq name="enter[0].form" value="股份有限公司">checked</eq>/><label for="gf">股份有限公司</label><br>
			  		<input type="radio" name="form" value="个人独资企业" id="gr" <eq name="enter[0].form" value="个人独资企业">checked</eq> style="margin-left: 72px;"/><label for="gr">个人独资企业</label>
			  		<input type="radio" name="form" value="合伙企业" id="hh" <eq name="enter[0].form" value="合伙企业">checked</eq>/><label for="hh" style="width: 84px;">合伙企业</label>
			  		<input type="radio" name="form" value="公司制企业" id="gs" <eq name="enter[0].form" value="公司制企业">checked</eq>/><label for="gs">公司制企业</label><br>
			  		<input type="radio" id="other" name="form" value="{$enter[0].form}" style="margin-left: 72px;"/><label for="other" style="margin: 0 0 0 10px;">其他</label>
			  		（请填写）<input type="text" onfocus="other.checked=true" onblur="other.value=this.value"  style="border-bottom: 1px solid #000000;" value="{$enter[0].form}" id="txt"/>
			  	</td>
			  </tr>
			  <tr>
			  	<th colspan="1">
			  		项目基本思路（可附思维导图）
				</th>
			  	<td colspan="7">
			  		<textarea overflow="hidden" name="thinking" id="editor_id" style="width:100%;height:350px;" id="thinking">{$enter[0].thinking}</textarea>
			  	</td>
			  </tr>
			  
			  <tr>
			  	<th colspan="1">
			  		项目预期效果（包括社会效益和经济效益）
					</th>
			  	<td colspan="7"><textarea rows="8" cols="80"  name="effect">{$enter[0].effect}</textarea></td>
			  </tr>
			  <tr>
			  	<th colspan="1">
			  		项目简介（300字以内）
				</th>
			  	<td colspan="7"><textarea rows="8" cols="80"  name="abstract">{$enter[0].abstract}</textarea></td>
			  </tr>
			  
			  <tr>
			  	<th colspan="1">
			  		项目特色（200字以内）
			  	</th>
			  	<td colspan="7"><textarea rows="8" cols="80" name="character">{$enter[0].character}</textarea></td>
			  </tr>
			  
			  <tr>
			  	<th colspan="1">
			  		项目可行性简述（技术保障、市场容量、团队能力支持、资金来源、发展方向，600字以内）
			  	</th>
			  	<td colspan="7"><textarea rows="8" cols="80" name="feasibility">{$enter[0].feasibility}</textarea></td>
			  </tr>
			  
			   <tr>
			  	<th colspan="1">
			  		其他说明（300字以内）
			  	</th>
			  	<td colspan="7"><textarea rows="8" cols="80" name="explain">{$enter[0].explain}</textarea></td>
			  </tr>
			  
			  <tr>
			  	<th colspan="1">
			  		创业计划书
			  	</th>
			  	<td colspan="7">
			  		<a href="javascript:;" class="file" onclick="upload('上传计划书','__CONTROLLER__/uploadb','600px','370px')" title="上传计划书">文件上传</a>
			  		<span style="position: relative;top: -8px;">将创业计划书丶资料等文件压缩上传，上传仅限zip,rar的压缩格式,大小不得超过10MB！</span>
			  	</td>
			  </tr>
			  
			  <tr height="150px">
			  	<th colspan="1">
			  		创业团队负责人所在系意见（系党总支盖章）
			  	</th>
			  	<td colspan="7" style="position: relative;">
			  		{$enter[0].department_idea}
			  	<div style="position: absolute;bottom: 30px;right: 100px;">（盖章）</div>
			  	<div style="position: absolute;bottom: 5px;right: 50px;">&nbsp;&nbsp;&nbsp;&nbsp;年&nbsp;&nbsp;&nbsp;&nbsp;月&nbsp;&nbsp;&nbsp;&nbsp;日</div>
			  	</td>
			  </tr>
			  
			</table>
			<div>
				备注： 申请表和商业计划书需上交打印稿和电子稿，申请表和创业计划书分开装订，A4纸双面打印，于左侧双颗钉装订成册，各一份。
			</div>
			<button type="button" class="btn btn-info" style="float: right;margin-left: 20px;margin-bottom: 50px;" onclick="back()">返回</button>
			<button type="reset" class="btn btn-info" style="float: right;margin-left: 20px;">重置</button>
			<button type="submit" class="btn btn-info" style="float: right;margin-left: 20px;"id="sub">保存</button>
			</form>
		</div>
	</body>
</html>
<script src="../../js/vue.js"></script>
<script src="../../js/axios.js"></script>
<!--<script src="../../js/util.js"></script>-->
<!--<script src="../../js/elementui.js"></script>-->
<script src="../../js/util.js"></script>
<script>
	new Vue({
		el: '#app',
		data() {
			return {
				tableData: [],
				enter: [],
				user: {},
				basic: [],
				team: [],
				teachers: [],
				len: "",
				len2: "",
				times: "",
				tid: null,
				currentPage: 1,
				total: 10,
				size: 10,
				searchMap: {},
				pojo: {},
				formVisible: false,
				imageUrl: ''
			}
		},
		created() {
			this.tid = getQueryString("tid")

			this.searchMap = {tid: getQueryString("tid")}
			this.fetchData();
		},
		methods: {
			fetchData() {
				axios.post(`http://localhost:9105/tableEnter/findList.do`, this.searchMap).then(response => {
					this.enter = response.data[0];
				});
				axios.post(`http://localhost:9105/user/findList.do`, this.searchMap).then(response => {
					this.user = response.data[0];
				});
				axios.post(`http://localhost:9105/basicInfor/findList.do`, this.searchMap).then(response => {
					// response.date[0].regTime=new Date(response.date[0].regTime).format("yyyy-MM-dd");
					this.basics = response.data;
					console.log(this.basics)
				});
				axios.post(`http://localhost:9105/teammate/findList.do`, this.searchMap).then(response => {
					this.team = response.data;
					if (this.team.length <= 0 || this.team.length == "") {
						this.team.content = "";
					}
					this.len2 = this.team.length + 1;
				});
				axios.post(`http://localhost:9105/teacher/findList.do`, this.searchMap).then(response => {
					this.teachers = response.data;
					if (this.teachers.length <= 0 || this.teachers.length == "") {
						// this.teachers[0].id = "1";
						this.teachers[0] = {phone: ""};
						this.teachers[0] = {department: ""};
						this.teachers[0] = {position: ""};
						this.teachers[0] = {field: ""};
					}
					if(this.teachers.length>1){
						this.len = this.teachers.length * 2 +this.teachers.length;
					}else {
						this.len = this.teachers.length * 2 ;
					}

					// $('#th1').css('rowspan', "2");
				});

			},

			/* ****图片上传相关代码  如页面有图片上传功能放开注释 ****
            handleAvatarSuccess(res, file) {
                this.imageUrl = file.response;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }*/
		}
	})
</script>
<script>
	function back(){
		var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
		parent.layer.close(index); //再执行关闭
	}
	function getUrlParam() {
      	var reg = new RegExp("success"); //构造一个含有目标参数的正则表达式对象
		      	var r = window.location.href.match(reg); //匹配目标参数
		      	if (r == 'success'){
			      	var index = parent.layer.getFrameIndex(window.name);
					window.parent.location.reload();
			    }   
  	}
	window.getUrlParam();
	//
	function teacher_del1(obj){
		layer.confirm('确认要删除吗？',{icon:3,title : "是否删除?"},function(index){
			$(obj).parents("tr").next().remove();
			$(obj).parents("tr").remove();
			var n= $("#teacher").attr("rowspan");
			$("#teacher").attr('rowspan',n-2);
			layer.msg('已删除!',{icon:1,time:1000,title : "确认"});
		});
	}
	//
	function teacher_del(obj,id,name){
		layer.confirm('确认要删除吗？',{icon:3,title : "是否删除?"},function(index){
			$.get("__CONTROLLER__/teacherdel", {id: id}, function (msg) {
				if (msg.flag === true) {
					$(obj).parents("tr").next().remove();
					$(obj).parents("tr").remove();
					var n= $("#teacher").attr("rowspan");
					$("#teacher").attr('rowspan',n-2);
					layer.msg('已删除!',{icon:1,time:1000,title : "确认"});
					//location.reload();		
					
				}else{
					alert(msg.msg);
				}
			}, "json");	
		});
	}
	//添加导师
	function teacher_add(){
		var data ='<tr>';
			data+='<th colspan="1"><input type="hidden" value="add" name="id[]"/>姓名&nbsp;<a title="删除" href="javascript:;" onclick="teacher_del1(this)" >X</a></th><td colspan="2"><textarea rows="1" maxlength="120" name="name[]" required="required"></textarea></td>';
			data+='<th colspan="2">系别</th><td colspan="2"><textarea rows="1" maxlength="120" name="department[]" required="required"></textarea></td></tr>';
			data+='<tr>';
			data+='<th colspan="1">职务</th><td colspan="2"><textarea rows="1" maxlength="120" name="position[]" required="required"></textarea></td>';
			data+='<th colspan="2">负责领域</th><td colspan="2"><textarea rows="1" maxlength="120" name="field[]" required="required"></textarea></td>';
			data+='</tr>';
		var n= $("#teacher").attr("rowspan");
			$("#teacher").attr('rowspan',parseInt(n)+2);
		$('#tadd').before(data);
	}
	//
	function team_del1(obj){
		layer.confirm('确认要删除吗？',{icon:3,title : "是否删除?"},function(index){
				$(obj).parents("tr").remove();
				var n= $("#teammate").attr("rowspan");
				$("#teammate").attr('rowspan',n-1);
				layer.msg('已删除!',{icon:1,time:1000,title : "确认"});
		});
	}
	//
	function team_del(obj,id,name){
		layer.confirm('确认要删除吗？',{icon:3,title : "是否删除?"},function(index){
			$.get("__CONTROLLER__/teamdel", {id: id}, function (msg) {
				if (msg.flag === true) {
					$(obj).parents("tr").remove();
					var n= $("#teammate").attr("rowspan");
					$("#teammate").attr('rowspan',n-1);
					layer.msg('已删除!',{icon:1,time:1000,title : "确认"});
					//location.reload();		
					
				}else{
					alert(msg.msg);
				}
			}, "json");	
		});
	}
	//添加成员
	function team_add(){
		var data ='<tr><td colspan="1">';	
			data+='<a title="删除" href="javascript:;" onclick="team_del1(this)" >X</a>&nbsp;&nbsp;';
			data+='<textarea rows="1" maxlength="20" name="tname[]" style="width: 70%;" required="required"></textarea><input type="hidden" value="add" name="mateid[]"/>';		  	
			data+='</td>';
			data+='<td colspan="1">';
			data+='<select name="tsex[]">';
			data+='<option value="男" selected>男</option>';
			data+='<option value="女" >女</option>';
			data+='</select>';
			data+='</td>';
			data+='<td colspan="1"><textarea rows="1" maxlength="120" name="tdepartment[]" required="required"></textarea></td>';
			data+='<td colspan="2"><textarea rows="1" maxlength="120" name="tprofessional[]" required="required"></textarea></td>';
			data+='<td colspan="1"><textarea rows="1" maxlength="120" name="tphone[]" class="phone" required="required"></textarea></td>';
			data+='<td colspan="1"><textarea rows="1" maxlength="120" name="temail[]"></textarea></td>';
			data+='</tr>';
		var n= $("#teammate").attr("rowspan");
				$("#teammate").attr('rowspan',parseInt(n)+1);
		$('#tmadd').before(data);	
	}
	//上传
	function upload(title,url,w,h){
		layer.open({
		  type: 2,
		  title: title,
		  shadeClose: true,
		  shade: 0.4,
		  area: [w, h],
		  content: url //iframe的url
		});	
	}
	$(function () {
		var x = $('input:radio[name="form"]:checked').val();
        if (x!="无限责任公司" && x!="有限责任公司" && x!="份有限公司" && x!="个人独资企业" && x!="合伙企业" && x!="公司制企业") {
        	$('#other').attr('checked',2);
        	$('#txt').show();
        }else{
        	$('#txt').hide();
        }
    });
    $('#other').click(function(){
    	$('#txt').show();
    });
	$("form").submit(function(){ //表单提交时判断
		
		if($('#registered').val()=='是'){
			if($('#reg_time').val().trim().length==0){
				$("#reg_time").focus();
				return false;
			}	
		}
		if($("#other").is(":checked") && $("#txt").val().trim().length==0){
			$("#txt").val('无');	
		}
		var f1 = true;
		$(".phone").each(function(){
			var f2 = checkPhone($(this).val().trim());
			if(f2 == false){
				$(this).val($(this).val().trim());
				alert('手机号码格式错误！');
				$(this).focus();
				f1 = false;
				return false;
			}
		});
		if(f1==false){
			return f1;
		}else{
			$("#sub").attr('disabled','disabled');
		}	
	});
	function checkPhone(phone){ 
		console.log(phone);
	    if(!(/^1(3|4|5|7|8)\d{9}$/.test(phone))){ 
	        //alert("手机号码有误!");  
	        return false; 
	    } 
	}
	$("#registered").change(function(){
		if($('#registered').val()=='否'){
			$('#reg_time').hide();
			$('#reg_time').val('');
			$('#money').val('');
			$('#money').hide();
		}else{
			$('#reg_time').show();
			$('#money').show();
		}
	});
	$(function () {
		if($('#registered').val()=='否'){
			$('#reg_time').hide();
			$('#reg_time').val('');
			$('#money').val('');
			$('#money').hide();
		}else{
			$('#reg_time').show();
			$('#money').show();
		}
    });
</script>


 <style>
		/*样式2*/
		.file {
			position: relative;
			display: inline-block;
			background: #D0EEFF;
			border: 1px solid #99D3F5;
			border-radius: 4px;
			padding: 4px 12px;
			overflow: hidden;
			color: #1E88C7;
			text-decoration: none;
			text-indent: 0;
			line-height: 20px;
		}
		.file input {
			position: absolute;
			font-size: 100px;
			right: 0;
			top: 0;
			opacity: 0;
		}
		.file:hover {
			background: #AADFFD;
			border-color: #78C3F3;
			color: #004974;
			text-decoration: none;
		}
    </style>
