<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="../../css/bootstrap.css"/>
    <link rel="stylesheet" href="../../css/layout.css"/>
    <link rel="stylesheet" type="text/css" href="../../css/teacher.css"/>
    <script type="text/javascript" src="../../js/jquery.min.js"></script>
    <script type="text/javascript" src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.js"></script>
    <script src="../../js/layer.js"></script>
    <script src="../../js/teacher.js"></script>
    <title></title>
    <style>
        label {
            margin: 0 72px 0 10px;
            display: inline-block;
            vertical-align: middle;
        }

        input[type="radio"] {
             vertical-align: middle;
             margin: 0;
             width: 100%;
         }
        input[type="text"] {
            /*vertical-align: middle;*/
            /*margin: 0;*/
            /*height: 20px;*/
            border: 1px solid gainsboro;
            border-radius: 5px;
            height: 100%;
            width: 100%;
            text-align: center;
        }
        td {
            vertical-align: middle !important;
            text-align: center;
        }

        table th {
            vertical-align: middle !important;
            text-align: center;
            width: 200px;
        }

        textarea {
            resize: none;
            word-wrap: break-word;
            background: none;
            height: 100%;
            width: 100%;
            overflow: hidden;
        }
    </style>
</head>
<body>
<div class="bodyer" id="app">
    <center><h1>考核评分表</h1></center>

    <form method="post" class="bs-example bs-example-form" >
        <div style="float: right;"><h4><span style="color: red">*</span>评审时间： <input type="date" name="date" v-model="pojo.date" value="" id="date"/>
        </h4></div>
        <table class="table table-bordered">
            <tr>
                <th>一级指标</th>
                <th>二级指标</th>
                <th>分值</th>
                <th width="470">要求</th>
                <th>评分</th>
            </tr>
            <tr>
                <th rowspan="4">日常管理<br>(46分)</th>
                <th>会议、沙龙等<br>参加次数</th>
                <th>8</th>
                <th>1、会议不能迟到，不得缺席，每人每次扣2分.<br>2、参会次数以及人数达总数的80%.</th>
                <td><input type="text" class="" name="meeting" id="meeting"v-model="pojo.meeting" value=""></td>
            <tr>
            <tr>
                <th>参加创业<br>报告数目</th>
                <th>8</th>
                <th>次数以及人数达总数的80%.</th>
                <td><input type="text" name="report" id="report"v-model="pojo.report" value=""></td>
            </tr>
            <tr>
                <th>出勤考核</th>
                <th>30</th>
                <th>每日出勤考核（30次）.</th>
                <td><input type="text" name="check" id="check" v-model="pojo.checks" value=""></td>
            </tr>

            <tr>
                <th rowspan="4">工作场地<br>(12分)</th>
                <th>创业工作室卫生</th>
                <th>4</th>
                <th>1、保持办公室桌面清洁整齐，不得摆放与工作无关的物品（2分）.<br>2、 保持室内卫生，垃圾要及时清理（2分）.</th>
                <td><input type="text" name="studio_hea" id="studio_hea" v-model="pojo.studioHea" value=""></td>
            <tr>
            <tr>
                <th>公共区域卫生</th>
                <th>4</th>
                <th>1.保持公共区域卫生清洁（2分）.<br>2.保持桌面玻璃清洁卫生（2分）.</th>
                <td><input type="text" name="public_hea" id="public_hea" v-model="pojo.publicHea" value=""></td>
            </tr>
            <tr>
                <th>工作室墙体宣传资料</th>
                <th>4</th>
                <th>按规定对创业工作室进行布置，制作“公司简介、公司<br>文化、公司管理、商业模式、科研成果”等展示（4分）.</th>
                <td><input type="text" name="propagate" id="propagate" v-model="pojo.propagate" value=""></td>
            </tr>

            <tr>
                <th rowspan="3">安全情况<br>(8分)</th>
                <th>营运项目的安全性</th>
                <th>4</th>
                <th>定期对公司营运项目进行考核，不得危害同学和<br>学校利益。一经发现，视情节给予相应处罚（4分）.</th>
                <td><input type="text" name="pro_safe" id="pro_safe" v-model="pojo.proSafe" value=""></td>
            <tr>
            <tr>
                <th>使用设备的安全性</th>
                <th>4</th>
                <th>1、定期对各种设备进行全面检查，保证安全（2分）.<br>2、注意用电安全及防火防盗安全（2分）.</th>
                <td><input type="text" name="equip_safe" id="equip_safe" v-model="pojo.equipSafe" value=""></td>
            </tr>

            <tr>
                <th>运营材料上报<br>（6分）</th>
                <th>学期运营报告</th>
                <th>6</th>
                <th>
                    团队考核前需提交创业团队花名册、内部管理制度、学期工作计划、学期运营报告、（含财务报表、团队承担的业务统计表和合同复印件、媒体报道、团队成员在创业方面获得的荣誉材料）、营业执照以及其他要求提供的材料（电子版和纸质版各一份）（6分）.
                </th>
                <td><input type="text" name="operating" id="operating" v-model="pojo.operating" value=""></td>
            </tr>

            <tr>
                <th rowspan="6">运营汇报评审<br>(15分)</th>
                <th>组织制度、文化建设</th>
                <th>3</th>
                <th>组织制度健全，有团队文化（3分）.</th>
                <td><input type="text" name="culture" id="culture" v-model="pojo.culture" value=""></td>
            <tr>
            <tr>
                <th>工作计划总结、实施监控</th>
                <th>3</th>
                <th>有计划、有目标、有成效（3分）.</th>
                <td><input type="text" name="control" id="control" v-model="pojo.control" value=""></td>
            </tr>
            <tr>
                <th>盈利状况分析</th>
                <th>3</th>
                <th>真实、标准、不得造假（3分）.</th>
                <td><input type="text" name="profit" id="profit" v-model="pojo.profit" value=""></td>
            </tr>
            <tr>
                <th>创新点</th>
                <th>3</th>
                <th>技术、商业模式（3分）.</th>
                <td><input type="text" name="innovate" id="innovate" v-model="pojo.innovate" value=""></td>
            </tr>
            <tr>
                <th>创业成果展示</th>
                <th>3</th>
                <th>开展的具体商业成果（3分）.</th>
                <td><input type="text" name="ent_achi" id="ent_achi" v-model="pojo.entAchi" value=""></td>
            </tr>

            <tr>
                <th rowspan="3">支持配合工作<br>(8分)</th>
                <th>提出建设性创业意见</th>
                <th>4</th>
                <th>为创业教育提宝贵意见，给予适当的奖励（4分）.</th>
                <td><input type="text" name="ent_opinion" id="ent_opinion" v-model="pojo.entOpinion" value=""></td>
            <tr>
            <tr>
                <th>服从创新创业基地部门的管理</th>
                <th>4</th>
                <th>服从组织管理（4分）.</th>
                <td><input type="text" name="mana" id="mana" v-model="pojo.mana" value=""></td>
            </tr>

            <tr>
                <th>荣誉（5分）</th>
                <th>参加比赛</th>
                <th>5</th>
                <th>参加比赛获奖（5分）.</th>
                <td><input type="text" name="match" id="match" v-model="pojo.matchs" value=""></td>
            </tr>

            <tr>
                <th colspan="1">评审总得分</th>
                <td colspan="4">
                    <input type="text" name="total_score" id="total_score" v-model="pojo.totalScore" value="">
                    <!--<span id="total_score"></span>-->
                </td>
            </tr>
            <tr>
                <th colspan="1">评审结论</th>
                <td colspan="4"><input type="text" name="conclusion" id="conclusion" v-model="pojo.conclusion" value=""></td>
            </tr>
            <tr>
                <th colspan="1">参加评审人员{{gid}}</th>
                <td colspan="4"><input type="text" name="judge" id="judge" v-model="pojo.judge" value=""></td>
            </tr>
        </table>

        <button type="button" class="btn btn-info" style="float: right;margin-left: 20px;" onclick="back()">关闭</button>
        <input type="submit" class="btn btn-info" style="float: right;margin-left: 20px;margin-bottom: 50px;" value="保存" v-on:click="save()">
        <input type="button" class="btn btn-info" style="float: right;margin-left: 20px;margin-bottom: 50px;"
               value="总分" onclick="all_score()">
        <input type="hidden" v-model="grade.gid" value="" name="gid"/>
    </form>
</div>
</body>
<footer style="margin-top: 100px;">

</footer>
</body>
</html>

<script src="../../js/vue.js"></script>
<script src="../../js/axios.js"></script>
<script src="../../js/util.js"></script>
<script src="../../js/elementui.js"></script>
<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                grade:{},
                other:{},
                times: "",
                gid: null,
                currentPage: 1,
                total: 10,
                size: 10,
                searchMap: {},
                pojo: {},
                formVisible: false,
                imageUrl: ''
            }
        },
        created() {
            this.gid = getQueryString("gid")
            this.searchMap = {tid: getQueryString("gid")}
            console.log(this.gid )
            this.fetchData();
        },
        methods: {
            fetchData() {
                axios.get(`http://localhost:9105/tableGrade/findById.do?gid=`+this.gid, this.searchMap).then(response => {
                    this.grade = response.data;
                    console.log(response.data)
                });
                // axios.post(`http://localhost:9105/tableGrade/findById.do`, this.searchMap).then(response => {
                //     this.tableData = response.data;
                //     console.log(this.tableData)
                // });
            },
            save() {
                // this.pojo.image= this.imageUrl; //如页面有图片上传功能放开注释
                this.pojo.gid=getQueryString("gid");
                axios.post(`http://localhost:9105/tableGrade/update.do`, this.pojo).then(response => {
                    var index = parent.layer.getFrameIndex(window.name);
                    window.parent.location.reload();
                    console.log(this.pojo)
                    this.fetchData(); //刷新列表
                    // this.formVisible = false;//关闭窗口
                });
            },
            /* ****图片上传相关代码  如页面有图片上传功能放开注释 ****
            handleAvatarSuccess(res, file) {
                this.imageUrl = file.response;
            },
            beforeAvatarUpload(file) {
                const isJPG = file.type === 'image/jpeg';
                const isLt2M = file.size / 1024 / 1024 < 2;

                if (!isJPG) {
                    this.$message.error('上传头像图片只能是 JPG 格式!');
                }
                if (!isLt2M) {
                    this.$message.error('上传头像图片大小不能超过 2MB!');
                }
                return isJPG && isLt2M;
            }*/
        }
    })
</script>

<script>
    function back() {
        var index = parent.layer.getFrameIndex(window.name); //先得到当前iframe层的索引
        parent.layer.close(index); //再执行关闭
    }

    function save(fun, gid) {
        window.href = "";
    }

    $("form").submit(function () { //表单提交时判断
        var date=$('#date').val();
        if(date==""){
            $("#date").focus();
            return false;
        }
    });

    function all_score() {

        var meeting = $('#meeting').val();
        var report = $('#report').val();
        var check = $('#check').val();
        var studio_hea = $('#studio_hea').val();
        var public_hea = $('#public_hea').val();
        var propagate = $('#propagate').val();
        var pro_safe = $('#pro_safe').val();
        var equip_safe = $('#equip_safe').val();
        var operating = $('#operating').val();
        var culture = $('#culture').val();
        var control = $('#control').val();
        var profit = $('#profit').val();
        var innovate = $('#innovate').val();
        var ent_achi = $('#ent_achi').val();
        var ent_opinion = $('#ent_opinion').val();
        var mana = $('#mana').val();
        var match = $('#match').val();
        var num;
        if (parseInt(report) > 8 || parseInt(meeting) > parseInt(8)　||check > 30) {
            alert("日常管理的分数有误");
        } else if (studio_hea > 4 || public_hea > 4 || propagate > 4 ){
            alert("工作场地的分数有误");
        }else if(ent_opinion > 4 ||mana > 4){
            alert("支持配合工作的分数有误");
        }else if (pro_safe > 4 || equip_safe > 4 ) {
            alert("安全情况的分数有误");
        }else if (control > 3 || culture > 3 || profit > 3 || innovate > 3 || ent_achi > 3) {
            alert("运营汇报评审的分数有误");
        } else if (match > 5) {
            alert("荣誉的分数有误");
        } else if (operating > 6) {
            alert("运营材料上报的分数有误");
        }

        num = parseInt(meeting) + parseInt(report) + parseInt(check) + parseInt(studio_hea) + parseInt(public_hea) + parseInt(propagate) + parseInt(pro_safe) + parseInt(equip_safe) + parseInt(operating) + parseInt(control) + parseInt(profit) + parseInt(innovate) + parseInt(ent_achi) + parseInt(ent_opinion) + parseInt(mana) + parseInt(match) + parseInt(culture);
        if (!isNaN(num)) {
            $("#total_score").val(num);
        } else {
            alert("全部填完再统计");
        }
    }

    function getUrlParam() {
        var reg = new RegExp("success"); //构造一个含有目标参数的正则表达式对象
        var r = window.location.href.match(reg); //匹配目标参数
        if (r == 'success') {
            var index = parent.layer.getFrameIndex(window.name);
            window.parent.location.reload();
        }
    }
    window.getUrlParam();
</script>
