<!DOCTYPE html>
<html xmlns:v-on="http://www.w3.org/1999/xhtml">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE">
    <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7"/>
    <title>待付款</title>
    <link rel="icon" href="./img/favicon.ico">

    <link rel="stylesheet" type="text/css" href="./css/all.css"/>
    <link rel="stylesheet" type="text/css" href="./css/pages-seckillOrder.css"/>

    <link rel="stylesheet" href="./t_css/el-index.css">
	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">
    <link rel="stylesheet" href="./plugins/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="./t_css/style.css">
<!--    	<link rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-chalk/index.css">-->
</head>

<body >
<div id="app">
    <!-- 头部栏位 -->
    <!--页面顶部-->
    <div id="nav-bottom">
        <!--顶部-->
        <div class="nav-top">
            <div class="top">
                <div class="py-container">
                    <div class="shortcut">
                        <ul class="fl">
                            <li class="f-item">飞鸟欢迎您！</li>
                            <li class="f-item">
                                <!--                                请<a href="login.html" target="_blank">登录</a>　<span><a-->
                                <!--                                    href="register.html" target="_blank">免费注册</a></span>-->
                                <span v-if="username==''">
									请 <a href="login.html">登录</a>
								</span>
                                <span v-if="username!=''">
									{{username}}<a href="/logout/cas">退出登录</a>
								</span>

                                <span>
									<a href="register.html" target="_blank">免费注册</a>
								</span>
                            </li>
                        </ul>
                        <div class="fr typelist">
                            <ul class="types">
                                <li class="f-item"><span>我的订单</span></li>

                                <li class="f-item"><span><a href="http://localhost:9102/cart.html"
                                                            target="_blank">我的购物车</a></span></li>
                                <li class="f-item"><span><a href="home.html" target="_blank">个人中心</a></span></li>
                                <li class="f-item"><span>飞鸟会员</span></li>
                                <li class="f-item"><span>企业采购</span></li>
                                <!--                                <li class="f-item"><span>关注畅购</span></li>-->
                                <li class="f-item"><span><a href="cooperation.html" target="_blank">合作招商</a></span></li>
                                <!--                                <li class="f-item"><span><a href="shoplogin.html" target="_blank">商家后台</a></span></li>-->
                                <li class="f-item"><span>网站导航</span></li>
                            </ul>
                        </div>

                    </div>
                </div>
            </div>

            <!--头部-->
            <div class="header">
                <div class="py-container">
                    <div class="yui3-g Logo">
                        <div class="yui3-u Left logoArea">
                            <a class="logo-bd" title="畅购" href="http://localhost:9102/index.do" target="_blank"></a>
                        </div>
                        <div class="yui3-u Rit searchArea">
                            <div class="search">
                                <form action="" class="sui-form form-inline">
                                    <!--searchAutoComplete-->
                                    <div class="input-append">
                                        <input id="autocomplete" type="text" class="input-error input-xxlarge"/>
                                        <button class="sui-btn btn-xlarge btn-danger" type="button">搜索</button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>

    <!--header-->
    <div id="account">
        <div class="py-container">
            <div class="yui3-g home">
                <!--左侧列表-->
                <div class="yui3-u-1-6 list">

                    <div class="person-info">
                        <div class="person-photo"><img src="./img/_/photo.png" alt=""></div>
                        <div class="person-account">
                            <span class="name">{{username}}</span>
                            <span class="safe">账户安全</span>
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="list-items">
                        <dl>
                            <dt><i>·</i> 订单中心</dt>
                            <dd><a href="home.html">我的订单</a></dd>
                            <dd><a href="center-order-pay.html">待付款</a></dd>
                            <dd><a href="center-order-send.html">待发货</a></dd>
                            <dd><a href="center-order-receive.html">待收货</a></dd>
                            <dd><a href="center-order-evaluate.html">待评价</a></dd>
                        </dl>
                        <dl>
                            <dt><i>·</i> 我的中心</dt>
                            <dd><a href="center-collect.html">我的收藏</a></dd>
                            <dd><a href="center-footmark.html">我的足迹</a></dd>
                        </dl>
                        <dl>
                            <dt><i>·</i> 物流消息</dt>
                        </dl>
                        <dl>
                            <dt><i>·</i> 设置</dt>
                            <dd><a href="center-setting-info.html">个人信息</a></dd>
                            <dd><a href="center-setting-address.html" class="list-active">地址管理</a></dd>
                            <dd><a href="center-setting-safe.html">安全管理</a></dd>
                        </dl>
                    </div>
                </div>
                <!--右侧主内容-->
                <div class="yui3-u-5-6 ">
                    <div class="body userAddress">
                        <div class="address-title">
                            <span class="title">地址管理</span>
                            <a data-toggle="modal" data-target=".edit" data-keyboard="false"
                               class="sui-btn  btn-info add-new" @click="formVisible=true;pojo={}">添加新地址</a>
                            <span class="clearfix"></span>
                        </div>
                        <div class="address-detail">
                            <table class="sui-table table-bordered">
                                <thead>
                                <tr>
                                    <th>姓名</th>
                                    <th>地址</th>
                                    <th>联系电话</th>
                                    <th>操作</th>
                                </tr>
                                </thead>
                                <tbody>
                                <template v-for=" address in tableData">
                                    <tr>
                                        <td>{{address.contact}}</td>
                                        <td>{{address.address}}</td>
                                        <td>{{address.phone}}</td>
                                        <td>
                                            <a href="#" v-on:click="edit(address.id)">编辑</a>
                                            <a href="#" v-on:click="dele(address.id)">删除</a>
                                            <!--											<span v-if="address.isDefault=0">设为默认</span>-->
                                            <a href="#" v-if="address.isDefault==1" cl
                                               ass="">默认地址</a>
                                        </td>
                                    </tr>
                                </template>


                                </tbody>
                            </table>
                        </div>
                        <!--新增地址弹出层-->

                        <div class="add-form">
                            <el-dialog title="编辑" :visible.sync="formVisible">
								<el-form label-width="80px">
									<el-form-item label="用户名"><el-input v-model="pojo.username"></el-input></el-form-item>
									<el-form-item label="省"><el-input v-model="pojo.provinceid"></el-input></el-form-item>
									<el-form-item label="市"><el-input v-model="pojo.cityid"></el-input></el-form-item>
									<el-form-item label="县/区"><el-input v-model="pojo.areaid"></el-input></el-form-item>
									<el-form-item label="电话"><el-input v-model="pojo.phone"></el-input></el-form-item>
									<el-form-item label="详细地址"><el-input v-model="pojo.address"></el-input></el-form-item>
									<el-form-item label="联系人"><el-input v-model="pojo.contact"></el-input></el-form-item>
									<el-form-item label="是否是默认 1默认 0否"><el-input v-model="pojo.isDefault"></el-input></el-form-item>
									<el-form-item label="别名"><el-input v-model="pojo.alias"></el-input></el-form-item>
									<el-form-item>
										<el-button type="primary" @click="save()">保存</el-button>
										<el-button @click="formVisible = false" >关闭</el-button>
									</el-form-item>
								</el-form>
                            </el-dialog>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 底部栏位 -->
    <!--页面底部-->
    <div class="clearfix footer">
        <div class="py-container">
            <div class="footlink">
                <div class="Mod-service">
                    <ul class="Mod-Service-list">
                        <li class="grid-service-item intro  intro1">

                            <i class="serivce-item fl"></i>
                            <div class="service-text">
                                <h4>正品保障</h4>
                                <p>正品保障，提供发票</p>
                            </div>

                        </li>
                        <li class="grid-service-item  intro intro2">

                            <i class="serivce-item fl"></i>
                            <div class="service-text">
                                <h4>正品保障</h4>
                                <p>正品保障，提供发票</p>
                            </div>

                        </li>
                        <li class="grid-service-item intro  intro3">

                            <i class="serivce-item fl"></i>
                            <div class="service-text">
                                <h4>正品保障</h4>
                                <p>正品保障，提供发票</p>
                            </div>

                        </li>
                        <li class="grid-service-item  intro intro4">

                            <i class="serivce-item fl"></i>
                            <div class="service-text">
                                <h4>正品保障</h4>
                                <p>正品保障，提供发票</p>
                            </div>

                        </li>
                        <li class="grid-service-item intro intro5">

                            <i class="serivce-item fl"></i>
                            <div class="service-text">
                                <h4>正品保障</h4>
                                <p>正品保障，提供发票</p>
                            </div>

                        </li>
                    </ul>
                </div>
                <div class="clearfix Mod-list">
                    <div class="yui3-g">
                        <div class="yui3-u-1-6">
                            <h4>购物指南</h4>
                            <ul class="unstyled">
                                <li>购物流程</li>
                                <li>会员介绍</li>
                                <li>生活旅行/团购</li>
                                <li>常见问题</li>
                                <li>购物指南</li>
                            </ul>

                        </div>
                        <div class="yui3-u-1-6">
                            <h4>配送方式</h4>
                            <ul class="unstyled">
                                <li>上门自提</li>
                                <li>211限时达</li>
                                <li>配送服务查询</li>
                                <li>配送费收取标准</li>
                                <li>海外配送</li>
                            </ul>
                        </div>
                        <div class="yui3-u-1-6">
                            <h4>支付方式</h4>
                            <ul class="unstyled">
                                <li>货到付款</li>
                                <li>在线支付</li>
                                <li>分期付款</li>
                                <li>邮局汇款</li>
                                <li>公司转账</li>
                            </ul>
                        </div>
                        <div class="yui3-u-1-6">
                            <h4>售后服务</h4>
                            <ul class="unstyled">
                                <li>售后政策</li>
                                <li>价格保护</li>
                                <li>退款说明</li>
                                <li>返修/退换货</li>
                                <li>取消订单</li>
                            </ul>
                        </div>
                        <div class="yui3-u-1-6">
                            <h4>特色服务</h4>
                            <ul class="unstyled">
                                <li>夺宝岛</li>
                                <li>DIY装机</li>
                                <li>延保服务</li>
                                <li>品优购E卡</li>
                                <li>品优购通信</li>
                            </ul>
                        </div>
                        <div class="yui3-u-1-6">
                            <h4>帮助中心</h4>
                            <img src="./img/wx_cz.jpg">
                        </div>
                    </div>
                </div>
                <div class="Mod-copyright">
                    <ul class="helpLink">
                        <li>关于我们<span class="space"></span></li>
                        <li>联系我们<span class="space"></span></li>
                        <li>关于我们<span class="space"></span></li>
                        <li>商家入驻<span class="space"></span></li>
                        <li>营销中心<span class="space"></span></li>
                        <li>友情链接<span class="space"></span></li>
                        <li>关于我们<span class="space"></span></li>
                        <li>营销中心<span class="space"></span></li>
                        <li>友情链接<span class="space"></span></li>
                        <li>关于我们</li>
                    </ul>
                    <p>地址：北京市昌平区建材城西路金燕龙办公楼一层 邮编：100096 电话：400-618-4000 传真：010-82935100</p>
                    <p>京ICP备08001421号京公网安备110108007702</p>
                </div>
            </div>
        </div>
    </div>
</div>
<!--页面底部END-->
<script type="text/javascript" src="./js/plugins/jquery/jquery.min.js"></script>
<script type="text/javascript">
    $(".chooseAll").click(function () {
        $("input[name='chk_list']").prop("checked", $(this).prop("checked"));
    })
</script>

<script src="t_js/vue.js"></script>
<script src="t_js/axios.js"></script>
<script src="t_js/elementui.js"></script>
<script src="t_js/util.js"></script>

<script>
    new Vue({
        el: '#app',
        data() {
            return {
                tableData: [],
                cartList: [],
                username: "",
                totalNum: 0,
                totalMoney: 0,
                preferential: 0,//优惠金额
                pageNo: "",
                formVisible: false,
                searchMap: {},
                pojo: {},
            }
        },
        created() {
            this.findOrderAddressList();
        },
        methods: {
            findOrderAddressList() {
                axios.get(`/login/username.do`).then(response => {
                    this.username = response.data.username;
                    this.searchMap.username = this.username;
                    console.log(this.searchMap)
                    axios.post(`/address/findList.do`, this.searchMap).then(response => {
                        this.tableData = response.data;
                        console.log(response.data)
                    });
                })
            },
            save() {
                // this.pojo.image= this.imageUrl; //如页面有图片上传功能放开注释
                axios.post(`/address/${this.pojo.id == null ? 'add' : 'update'}.do`, this.pojo).then(response => {
                    this.findOrderAddressList(); //刷新列表
                    this.formVisible = false;//关闭窗口
                });
            },
            edit(id) {
                this.formVisible = true // 打开窗口
                // 调用查询
                axios.get(`/address/findById.do?id=${id}`).then(response => {
                    this.pojo = response.data;
                    // this.imageUrl=this.pojo.image //显示图片  如页面有图片上传功能放开注释
                })
            },
            dele(id) {
                this.$confirm('确定要删除此记录吗?', '提示', {
                    confirmButtonText: '确定',
                    cancelButtonText: '取消',
                    type: 'warning'
                }).then(() => {
                    axios.get(`/address/delete.do?id=${id}`).then(response => {
                        // this.fetchData(); //刷新列表
						this.findOrderAddressList();
                    })
                })
            },
        }
    });


</script>


</body>

</html>